.post {
    padding: 0 5%;
    color: #F4F4F4;
    margin-bottom: 100px;
}

.post__title {
    font: 800 normal 25px 'Roboto', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.post__body {
    font: 400 normal 15px 'Roboto', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

.refferToMain {
        color: #FF6C00;
        font: 800 normal 15px 'Roboto', sans-serif;
        cursor: pointer;
        text-decoration: none;
        border: 2px solid #FF6C00;
        padding: 10px 25px;
}

.refferToMain:hover {
    border: 2px solid #2ebaae;
    color: #2ebaae;
    text-decoration: none;
}
